* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(85px, 85px) auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header" "sidebar main";
    transition: all .3s ease;
}

.container.active {
    grid-template-columns: minmax(280px, 18%) auto;
}

/* ---- ---- HEADER ---- ---- */
.header {
    grid-area: header;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo busca icons";
}

.header .container-logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.header .container-logo .btn-menu {
    border: none;
    color: #606060;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 14px;
}

.header .container-logo .btn-menu:hover {
    background: #e7e7e7;
    transition: .3s ease;
}

.header .container-logo .logo .fas {
    background: #ff0000;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 8px;
    color: #fff;
    position: relative;
    top: -4px;
    margin-right: 4px;
}

.header .container-logo .logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    position: relative;
    top: 2px;
}

.header .barra-busca {
    grid-area: busca;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .barra-busca input {
    min-width: 60%;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.header .barra-busca button {
    height: 35px;
    border: 1px solid #ccc;
    border-left: none;
    color: #757575;
    background: #f8f8f8;
    padding: 0 25px;
    cursor: pointer;
}

.header .barra-busca button:hover {
    background: #f0f0f0;
    transition: .3s ease;
}

.header .btns-header {
    grid-area: icons;
    display: flex;
    align-items: center;
}

.header .btns-header button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 16px;
    padding: 7px 5px;
    border-radius: 100px;
    color: #707070;
    margin-right: 4px;
    cursor: pointer;
}

.header .btns-header button:hover {
    background: #e7e7e7;
    transition: .3s ease;
}

.header .btns-header .avatar {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.header .btns-header .avatar img {
    vertical-align: top;
    width: 100%;
    border-radius: 100px;
}

/* ---- ---- SIDEBAR ---- ---- */
.sidebar {
    grid-area: sidebar;
    background: #fff;
    overflow: hidden;
}

.sidebar a {
    display: block;
    padding: 15px 35px;
    color: #000;
    font-size: 14px;
    min-width: 800px;
}

.sidebar a:hover {
    background: #e5e5e5;
}

.sidebar a.active {
    background: #e5e5e5;
    font-weight: bold;
}

.sidebar .fas {
    color: #606060;
    margin-right: 32px;
    width: 20px;
    text-align: center;
}

.sidebar a.active .fas {
    color: #ff0000;
}

.sidebar hr {
    margin: 20px 0;
    border: 1px solid #dfdfdf;
}

/* ---- ---- MAIN ---- ---- */
.main {
    grid-area: main;
    background: #f9f9f9;
    padding: 30px;
}

.main .title {
    margin-bottom: 20px;
    font-size: 16px;
}

.main .grid-videos {
    display: grid;
    grid-gap: 40px 20px;
    grid-template-columns: repeat(4, 1fr);
}

.main .grid-videos .videos {
    width: 100%;
    display: block;
}

.main .grid-videos .videos img {
    width: 100%;
}

/* ---- ---- Media Queries ---- ---- */
@media screen and (max-width: 1200px) {
    .main .grid-videos {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .header .container-logo .logo span {
        display: none;
    }

    .header .barra-busca input {
        min-width: 70%;
    }
}

@media screen and (max-width: 992px) {
    .main .grid-videos {
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-rows: auto;
    }

    .header {
        padding: 5px 5px;
        grid-template-columns: auto auto;
        justify-content: space-between;
        grid-template-areas: "logo icons" "busca busca";
    }

    .header .container-logo .logo span {
        display: inline;
    }

    .header .barra-busca input {
        min-width: auto;
        width: 100%;
    }

    .header .btns-header button {
        margin-left: 10px;
    }
}

@media screen and (max-width: 576px) {
    .main .grid-videos {
        grid-template-columns: 1fr;
    } 
    .header .container-logo .logo span {
        display: none;
    }
}